 *   {
    margin:0;
    padding:0;
	box-sizing:border-box;
		}
 section {
	text-align:center;
	margin:auto;
	padding-top:50px;
    }
 .man img {
	border:double 3px;
	border-color:white;
	border-radius:50%;
	width:20%;
	margin-bottom:10px;
       }
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  border-radius: 5px;
  margin-left:30%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}   
.para p{ 
	margin-left: 90px;
    margin-right: 100px;
	padding-top:5px;
	padding-bottom:10px;
}
.cto_text {
			color:#0000004f;
             }